 body{
    font-family: sans-serif;
    background: rgb(240, 234, 234);
 }

 .imagenes-container{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
 }

 .imagenes-container .imagen{
    position: relative;
    display: inline-flex;
    flex-direction: column;
 }

 .imagenes-container .imagen img{
    width: 150px;
    height: 150px;
    transition: transform 0.32s ease-in-out;
 }

 .imagenes-container .imagen .nombre{
    position: absolute;
    background-color: black;
    border-radius: 5px;
    color: white;
    display: none;
    min-width: 100px;
    width: 150px;
    top: -70px;
    padding: 10px 15px;
 }

 .imagenes-container .imagen:hover .nombre{
    display: inline-flex;
    transform: translateY(-20px);
 }

 .imagenes-container .imagen .nombre .texto{
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    width: 150px;
    text-align: center;
    box-sizing: border-box;
    
 }
 .imagenes-container .imagen .nombre::before{
   content: "";
   position: absolute;
   width: 1px;
   height: 1px;
   left: 40%;
   bottom: -20px;
   border-top: solid 10px black;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   border-bottom: 10px solid transparent;

 }

 .imagenes-container .imagen:hover img{
   transform: translateY(-20px);
 }

 @media (max-width: 700px) {
   .imagenes-container{
      flex-direction: column;
      height: 180vh;
   }
 }

 body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

header {
   background-color: #7c89a0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
}

header a {
   color: white;
   text-decoration: none;
}

.logo {
   display: flex;
   align-items: center;

}

.logo img {
   height: 50px;
   width: 50px;
   margin-right: 10px;
}

nav a {
   font-weight: 600;
   padding-right: 11px;
}

nav a:hover {
   color: blueviolet;
}

@media (max-width: 650px) {
   header {
       flex-direction: column;
   }

   nav {
       padding: 10px 0px;
   }
}

.pagina{
   color: white;
}

.iniciopagina a{
   text-decoration: none;
   color: white;
}

.iniciopagina{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #202020;
   margin-bottom: 50px;
}