:root{
    --rojo: #E50914;
    --fondo: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--fondo);
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    margin: auto;
}

header{
    padding: 30px 0px;
}

header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logotipo{
    font-family: 'Bebas Neue', cursive;
    font-weight: normal ;
    color: var(--rojo);
    font-size: 40px;
}

header nav a {
    color: #AAA;
    text-decoration: none;
    margin-right: 20px;
}

header nav a.activo,
header nav a:hover{
    color: #FFF;
}

/* ---- ----- ----- Pelicula principal ----- ----- ---- */

.pelicula-principal{
    font-size: 16px;
    min-height: 40.62em;
    color: #FFF;
    background: linear-gradient(rgba(0,0,0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/background.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
}

.pelicula-principal .contenedor{
    margin: 0 auto;
    margin-bottom: 6.25em;
}

.pelicula-principal .titulo{
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
}

.pelicula-principal .descripcion{
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
}

.pelicula-principal .boton{
    background: rgba(0,0,0,0.5);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: #fff;
    margin-right: 1.25em;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;
}

.pelicula-principal .boton:hover{
    background: #fff;
    color: #000;
}

.pelicula-principal .boton i{
    margin-right: 1.25em;
}

/* ---- ----- ----- CONTENEDOR TITULO Y CONTROLES ----- ----- -----*/
.contenedor-titulo-controles{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.contenedor-titulo-controles h3{
    color: #fff;
    font-size: 30px;
}

.contenedor-titulo-controles .indicadores button{
    background: #fff;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo{
    background: red;
}

/* ---- ----- ----- CONTENEDOR PRINCIPAL Y FLECHAS ----- ----- -----*/

.personajes{
    margin-bottom: 70px;
}

.personajes .contenedor-principal{
    display: flex;
    align-items: center;
    position: relative;
}

.personajes .contenedor-principal .flecha-izquierda,
.personajes .contenedor-principal .flecha-derecha{
    position: absolute;
    border: none;
    background: rgba(0,0,0,0.3);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}

.personajes .contenedor-principal .flecha-izquierda:hover,
.personajes .contenedor-principal .flecha-derecha:hover{
    background: rgba(0,0,0,0.9);
}

.personajes .contenedor-principal .flecha-izquierda{
    left: 0;
}

.personajes .contenedor-principal .flecha-derecha{
    right: 0;
}

/* ---- ----- ----- CAROUSEL ----- ----- -----*/

.personajes .contenedor-carousel{
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.personajes .contenedor-carousel .carousel{
    display: flex;
    flex-wrap: nowrap;
}

.personajes .contenedor-carousel .carousel .pelicula{
    min-width: 25%;
    transition: 0.3s ease all;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}
.personajes .contenedor-carousel .carousel .pelicula.hover{
    transform: scale(1.2);
    transform-origin: center;
}

.personajes .contenedor-carousel .carousel .pelicula img{
    width: 100%;
    vertical-align: top;
}

#video{
    display: none;
}

#video.activo{
    display: block;
}

/* ---- ----- ----- MEDIA QUERYS ----- ----- -----*/

@media screen and (max-width: 800px){   
    header .logo{
        margin-bottom: 10px;
        font-size: 30px;
    }

    header .contenedor{
        flex-direction: column;
        text-align: center;
    }

    .pelicula-principal {
        font-size: 14px;
    }

    .pelicula-principal .descripcion{
        max-width: 100%;
    }

    .pelicula-principal .boton{
        margin-bottom: 10px;
    }

    .personajes .contenedor-carousel{
        overflow: visible;
    }

    .personajes .contenedor-carousel .carousel{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .personajes .indicadores,
    .personajes .flecha-derecha,
    .personajes .flecha-izquierda{
        display: none;
    }
}